* {
  padding: 0%;
  margin: 0%;
}

body {
  height: 100vh;
  display: flex;
  background-color: #1c7ccc;
}

.timer-border {
  border: black solid;
  margin-bottom: 5px;
  padding-right: 18px;
  background-color: cornflowerblue;
}
.timer {
  margin: 10px;
  padding: 10px;
  font-size: 50px;
}
.time-left {
  margin: 10px;
  padding: 20px;
  padding-top: 22px;
  font-size: 40px;
}
.start {
  left : 8px;
  padding: 14px;
  font-size: 20px;
  color: rgb(22, 22, 22);
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 1px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
